body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    animation: changeBackgroundColor 20s infinite linear; /* Change background color every 20 seconds */
}

@keyframes changeBackgroundColor {
    0% {
        background-color: rgb(170, 170, 230);
    }
    50% {
        background: linear-gradient(to right, rgb(170, 170, 230), rgb(243, 201, 249)); /* Gradient transition */
    }
    100% {
        background-color: rgb(243, 201, 249);
    }
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
    animation: changeHeadingColor 8s infinite alternate; /* Change heading color every 8 seconds */
}

@keyframes changeHeadingColor {
    0% {
        color: #333;
    }
    50% {
        color: #ff5733; /* Change to a different color */
    }
    100% {
        color: #333;
    }
}

table {
    width: 80%; /* Adjust the width of the table as needed */
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px; /* Increase padding for better spacing */
    text-align: left;
    border-bottom: 2px solid #ddd; /* Thicker border bottom */
}

th {
    background-color: #4CAF50; /* Green background for table header */
    color: white; /* White text color for contrast */
    font-weight: bold; /* Make header text bold */
    text-transform: uppercase; /* Uppercase header text */
}

tr:hover {
    background-color: #f5f5f5; /* Light gray background on hover */
}
