
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: url('images/baground.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

/* Navigation Styles */
.nav_bar {
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.logo {
    float: left;
    font-size: 1.5rem;
    padding: 15px;
    margin-right: 20px;
}
.logo i{
    margin-right:5px ;
}
nav {
    float: right;
}

nav a {
    color: #fff;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}
nav a i{
    margin-right: 5px;
}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.308);
    border-radius: 5px;
}
.Front_view {
    align-items: center;
    display: flex;
    justify-content: space-between; 
    height: 100vh;
    padding: 0 20px;
}

.content {
    text-align: left;
    width: calc(50% - 20px); 
}

.image {
    width: calc(50% - 70px);
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
    object-fit: cover; 
}

.about_sec {
    background: linear-gradient(to top, #030303, rgba(49, 7, 58, 0.87)), url('images/baground.jpg') no-repeat center center;
    background-size: cover;
    padding: 2rem;
    height: 70vh;
}

.about_box {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

.about_box:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.about_heading {
    color: #f0f8ff;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.about_para {
    color: #f0f8ff;
    font-size: 1.2rem;
    line-height: 1.5;
}

/* Study Material Styles */
.studymaterial {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
}

.studymaterial p {
    color: #e4d0d0;
    line-height: 1.5rem;
    margin: 20px 0;
    max-width: 500px;
    text-align: center;
}

.study_heading {
    color: #f5f5dc;
    font-size: 2rem;
}

.sem {
    align-items: center;
    background-color: hsla(0, 0%, 100%,0.2);
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    height: 30%;
    justify-content: center;
    overflow: hidden;
    width: 50%;
}

.sem_sec {
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    width: calc(100% / 3);
}

.sem_sec a {
    color: beige;
    display: block;
    font-size: 17px;
    letter-spacing: 0.5px;
    padding: 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 0;
}

.sem_sec:hover {
    background: linear-gradient(to bottom, rgb(85, 10, 128), rgba(94, 4, 97, 0.979));
    color: white;
}

.form {
    background: linear-gradient(to bottom, rgba(45, 11, 100, 0.986), rgba(66, 5, 66, 0.5), rgba(86, 10, 105, 0.884));
    padding: 2rem;
    float: right;
   margin: 10px 100px 10px 0px ;
  border-radius: 20px;
  box-shadow: inset 0px 0px 25px rgba(0,0,0,0.2), 0 0 40px rgba(0,0,0,0.3);
}

.container {
    margin: 0 auto;
    width: 100%;
}

.heading {
    margin-bottom: 30px;
    padding-top: 10px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
}

.form-group textarea {
    resize: vertical;
}
.form_img {
        width: calc(50% - 20px);
        margin-left: 50px;
    }
.form_img img{
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
    object-fit: cover;
}

.submit-btn {
    background: linear-gradient(to right, #FA4B37, #DF2771);
    border: none;
    border-radius: 7px;
    color: black;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    padding: 8px;
    width: 20rem;
}

.submit-btn:hover {
    background: rgba(255, 255, 255, 0.767);
    color: #141414;
}
marquee{
    background: linear-gradient(to right, #FA4B37, #DF2771);
}
.marque{
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 10px;
}
.marque a{
    color: #fff;
    text-decoration: none;
}
.marque a:hover{
    color:#35A7FF;
}



/* Footer styles */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    position: relative;
    animation: fadeIn 1s ease-in-out;
}

.logo1 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 30px;
    margin-left: 20px;
}

.social_media {
    display: flex;
    gap: 10px;
}

.social_media a {
    width: 42px;
    height: 42px;
    background: hsla(0, 0%, 85.1%, .1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid hsla(0, 0%, 100%, .5);
    text-decoration: none;
}

.social_media a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    transform: scale(0);
    transition: .3s ease-in-out;
}

.social_media a i {
    color: white;
    padding: 10px;
}

footer p {
    font-weight: 400;
    font-size: 14px;
    color: #b8b8b8;
    letter-spacing: .5px;
    margin-top: 50px; 
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
        padding: 0 20px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        position: relative;
        padding: 20px 0;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav a {
        padding: 10px;
    }
}
@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}

.text {
    width: calc(50% - 20px);
    text-align: left;
}

@media screen and (max-width: 768px) {
    .text {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .image {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .image img {
        width: 100%;
        border-radius: 0;
    }
}